.onelogbox {
	padding-block: 0.6em;

	& + .onelogbox {
		border-top: 1px solid var(--main-color-2);
	}
}

/* 限定条件表示行の直下に表示される場合 */
.situation + .onelogbox {
	border-top: 1px solid var(--main-color-2);
}

// /* ----- 投稿内容側 ----- */
// .onelogbody {
// 	display: table-cell;
// 	vertical-align: top;
// 	width: 100%;
// }

// /* ----- 投稿情報表示 ----- */
.onelogheader,
.oneloginfo {
	font-size: var(--font-size-sm);

	a {
		color: var(--main-color-4);
		text-decoration: none;
	}
}
.onelogheader {
	display: flex;
	justify-content: end;
	gap: 0.6em;
}
.oneloginfo {
	text-align: right;
}

// .onelogctrl {
// 	margin: 0;
// 	float: right;
// }

// /* ----- ユーザ名領域 ----- */
// .username {
// 	display: inline-block;
// 	margin: 0 0.5em 0 0;
// 	font-weight: bold;

// 	/* ユーザ名のリンク */
// 	a {
// 		color: black;

// 		&:hover {
// 			color: #0a71ae;
// 		}
// 	}
// }

// /* ----- 投稿日時領域 ----- */
// .postdate {
// 	font-size: 0.85em;

// 	/* 投稿日時のリンク */
// 	a {
// 		display: inline-block;
// 		color: #555;
// 		background-color: white;
// 		border-radius: 0.5em;
// 		padding: 0 0.5em;
// 		&:hover {
// 			color: #0a71ae;
// 		}
// 	}
// }

// /* ----- New!サイン部分 ----- */
// .newsign {
// 	display: inline-block;
// 	color: #f55;
// 	font-size: var(--font-size-xs);
// 	margin-right: 0.35em;

// 	&:empty {
// 		display: none;
// 	}
// }

/* ----- カテゴリ名 ----- */
.categories {
	margin: 0;
	font-size: var(--font-size-sm);
}
.catseparator {
	margin-right: 2px;
}

// /* カテゴリリンク1つ */
// .categorylink {
// 	display: inline-block;
// 	text-decoration: none;
// }

// /* カテゴリ間のセパレータ */
// .catseparator {
// 	display: inline-block;
// 	margin: 0 1px;
// 	color: gray;
// }

// /* カテゴリアイコン */
// .categoryicon img {
// 	height: 1.2em;
// 	width: auto;
// 	vertical-align: text-top;
// 	margin: 0 1px;
// }

// /* ----- 投稿No. ----- */
// .postnum {
// 	font-size: 0.75em;
// 	color: #555;
// }

// /* ----- 文字数 ----- */
// .length {
// 	font-size: var(--font-size-xs);
// 	color: #555;
// }

/* ----- 編集ボタン ----- */
.editlink {
	a {
		&::before {
			content: '\e3c9';
			font-family: var(--font-family-icon);
		}
	}
}

// /* ----- 投稿本文 ----- */
// .onelogcontent {
// 	margin: 0;
// }
// .comment {
// 	line-height: 1.3;

// 	/* 投稿本文に含まれるURLリンク */
// 	.url {
// 		color: #85973e;
// 		text-decoration: none;

// 		&:hover {
// 			text-decoration: underline;
// 		}
// 	}
// }

// /* 投稿本文に含まれるハッシュタグリンク */
// .onelogbody {
// 	.taglink {
// 		display: inline-block;
// 		color: #85973e;
// 		text-decoration: none;
// 		word-break: break-all;
// 		&:hover {
// 			text-decoration: underline;
// 		}
// 	}
// }
