@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
:root {
  --font-family-basic: "Yu Gothic", Meiryo, "Hiragino Kaku Gothic ProN", sans-serif;
  --font-family-sitename: "EB Garamond", "Noto Serif JP", Yu Mincho, YuMincho, Hiragino Mincho Pro,
  	serif;
  --font-family-heading: "Noto Sans JP", var(--font-family-basic);
  --font-family-icon: Material Symbols Sharp;
  --font-size-xs: 1rem;
  --font-size-sm: 1.3rem;
  --font-size-basic: 1.6rem;
  --line-height-basic: 2.65rem;
  --rounded-basic: 2px;
  --rounded-pill: 999px;
  --animation: 0.3s;
  --main-color-1: #fff;
  --main-color-2: #dddddd;
  --main-color-3: #c9c9c9;
  --main-color-4: #8b8b8b;
  --main-color-5: #3f3f3f;
  --main-color-6: #000;
  --btn-bg-color: var(--main-color-6);
  --btn-text-color: var(--main-color-1);
}

/* ===== ▼ リセット　ここから（基本的には触らない方が良い部分） ▼ ===== */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*
  Add by espace
*/
* {
  word-break: normal;
}

:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  word-wrap: break-word;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  margin-block: 0;
  margin-inline: auto;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  max-inline-size: 100%;
}

p,
dl,
ul,
ol,
form,
blockquote {
  margin-block: 1em;
  margin-inline: auto;
}

main {
  hanging-punctuation: allow-end;
}

/* ===== ▲ リセット　ここまで（基本的には触らない方が良い部分） ▲ ===== */
/* =============== */
/*   全体共通装飾   */
/* =============== */
body {
  font: 500 var(--font-size-basic)/var(--line-height-basic) var(--font-family-basic);
}
body > * {
  padding: 0 0.6em;
}
body::-webkit-scrollbar {
  inline-size: 1rem;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
  border: 1px solid var(--main-color-2);
  border-radius: var(--rounded-pill);
}

/* ----- リンクの装飾 ----- */
a {
  color: var(--main-color-6);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

/* ----- URLが書かれた場合の装飾 ----- */
.url {
  word-break: break-all; /* 自動リンクのはみ出しを防ぐ */
}

/* ----- カード型リンクの装飾 ----- */
/* ----- リンクカードの装飾（サイズ共通部分） ----- */
/* ---------------------- */
/* ▼カード型リンクの装飾 */
/* ---------------------- */
.cardlink {
  display: inline-block;
  width: 100%;
  max-width: 500px; /* 最大幅 (※横幅を制限したくない場合はこれを削除して下さい) */
  padding: 0 0.25em 0.5em 0; /* 内側の余白量 */
  font-size: 0.9rem; /* 文字サイズ */
  text-decoration: none; /* リンク文字の下線を消す */
  vertical-align: middle; /* 行内の上下方向では中央配置 */
}

/* ------------------------------------- */
/* リンクカードの装飾(サイズS/L共通部分) */ /* ※後述の「サイズS用の追記」や「サイズL用の追記」と合わせて、1つのカードデザインになります。 */
/* ------------------------------------- */
/* カード外枠 */
.cardlinkbox {
  border: 1px solid #ccc; /* 枠線 */
  border-radius: 7px; /* 角丸 */
  background-color: white; /* 背景色 */
  display: flex; /* 内部レイアウトのFlexbox化 */
}

/* (マウスが載ったとき) */
.cardlinkbox:hover {
  background-color: #f5fff5; /* 背景色 */
  border-color: #8c8; /* 枠線色 */
}

/* ▽リンクカード内の画像枠 (※読み込まれたog:imageは、この枠に《背景画像として》描画されます) */
.cardlinkimage {
  background-image: linear-gradient(-30deg, #8a8, #e0f0e0); /* プレースホルダ的な背景グラデーション(※og:imageの画像指定が読み込まれたら、この値は上書きされます) */
  background-size: cover; /* 背景画像で枠を埋める */
  background-position: center center; /* 背景画像を中央に寄せる */
  background-repeat: no-repeat; /* 背景画像を繰り返さない */
}

/* ▽リンクカード内のテキスト枠 */
.cardlinktextbox {
  display: flex; /* Flexbox化 */
  flex-direction: column; /* 子要素を縦方向に並べる */
  padding: 0.5em 1em; /* 内側の余白量 */
}

/* ▽リンクカードのテキスト枠内の3要素共通 */
.cardlinktitle,
.cardlinkdescription,
.cardlinkurl {
  /* ↓表示行数を制限するための準備 (※システム側では文字数は制限せずに「記述されている全文字」をHTMLに出力しますので、表示分量を制限したい場合はCSSで制御する必要があります。) */
  display: -webkit-box; /* -webkit-line-clampを使うために必要な記述1 ※A */
  -webkit-box-orient: vertical; /* -webkit-line-clampを使うために必要な記述2 ※A */
  overflow: hidden; /* 表示量を制限する場合に必須の記述 */
  /* ↓制限の仕様 */
  line-clamp: 1; /* 1行だけ見せる (将来的にはこれだけで実現可能かも) */
  -webkit-line-clamp: 1; /* 1行だけ見せる (今のブラウザにはこちらが必要で、そのためには上記「※A」も必要) */
  text-overflow: ellipsis; /* 省略記号(三点リーダー) */
}

/* リンクタイトル */
.cardlinktitle {
  padding-bottom: 0.25em; /* 内側下端の余白量 */
}

/* リンク概要文 */
.cardlinkdescription {
  line-height: 1.3; /* 行の高さ */
  color: #555; /* 文字色 */
  line-clamp: 2; /* (既存指定の上書き) 最大2行まで見せる */
  -webkit-line-clamp: 2; /* (既存指定の上書き) 最大2行まで見せる */
}

/* リンクドメイン */
.cardlinkurl {
  color: #999; /* 文字色 */
}

/* ----------------------------------- */
/* リンクカードの装飾(サイズS用の追記) */ /* 前述の「サイズS/L共通部分」と合わせて、1つのカードデザインになります。 */
/* ----------------------------------- */
.cardsize-S {
  flex-direction: row; /* 画像とテキストは横に並べる(Flexbox) */
}

/* ▽リンクカード内の画像枠 */
.cardsize-S .cardlinkimage {
  min-width: 100px; /* 最小の横幅 */
  min-height: 100px; /* 最小の高さ */
  border-radius: 6px 0 0 6px; /* 左側だけ角丸 */
  flex-shrink: 0; /* 枠サイズを自動縮小させない */
}

/* ▽リンクカード内のテキスト枠 */
.cardsize-S .cardlinktextbox {
  border-left: 1px solid #ccc; /* 左側の枠線 */
  justify-content: center; /* Flexboxの上下方向での中央寄せ */
}

/* ▽リンクカードのテキスト枠内の3要素 */
.cardsize-S .cardlinktitle {
  order: 2;
} /* タイトルは、2番目に表示 */
.cardsize-S .cardlinkdescription {
  order: 3;
} /* 概要文　は、3番目に表示 */
.cardsize-S .cardlinkurl {
  order: 1;
} /* ドメインは、1番上に表示 */
/* ----------------------------------- */
/* リンクカードの装飾(サイズL用の追記) */ /* 前述の「サイズS/L共通部分」と合わせて、1つのカードデザインになります。 */
/* ----------------------------------- */
.cardsize-L {
  flex-direction: column; /* 画像とテキストは縦に並べる(Flexbox) */
}

/* ▽リンクカード内の画像枠 */
.cardsize-L .cardlinkimage {
  aspect-ratio: 1.91/1; /* 画像枠の縦横比を指定= (横)1.91：(縦)1 */
  width: 100%; /* 横幅は枠最大に拡げる */
  height: auto; /* 高さは自動計算 */
  border-radius: 6px 6px 0 0; /* 上側だけ角丸 */
}

/* ▽リンクカード内のテキスト枠 */
.cardsize-L .cardlinktextbox {
  border-top: 1px solid #ccc; /* 上側の枠線 */
}

/* ▽リンクカードのテキスト枠内の3要素 */
.cardsize-L .cardlinktitle {
  font-weight: bold;
} /* 太字 */
.cardsize-L .cardlinkdescription {
  min-height: 2.5em;
} /* 内容量が少ない場合でも一定の高さを確保 */
.cardsize-L .cardlinkurl {
  border-top: 1px solid #ddd; /* 上側の枠線 */
  margin-top: 0.5em; /* 上側の枠線より上の余白量 */
  padding-top: 0.5em; /* 上側の枠線より下の余白量 */
  font-size: 0.75rem; /* 文字サイズ(小さめ) */
}

/* カード外枠 */
/* リンクカード内の画像枠 */
.cardlinkimage {
  background-image: linear-gradient(-30deg, #8aa, #e0f0f0);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* リンクカード内のテキスト枠 */
.cardlinktitle,
.cardlinkdescription,
.cardlinkurl {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}

/* リンクタイトル */
/* リンク概要文 */
/* リンクドメイン */
/* ----- リンクカードの装飾（サイズS用） ----- */
.cardsize-S {
  flex-direction: row;
  /* リンクカード内の画像枠 */
  /* リンクカード内のテキスト枠 */
  /* リンクタイトル */
  /* リンク概要文 */
  /* リンクドメイン */
}
.cardsize-S .cardlinkimage {
  min-width: 100px;
  min-height: 100px;
  flex-shrink: 0;
}
.cardsize-S .cardlinktextbox {
  justify-content: center;
}
.cardsize-S .cardlinktitle {
  order: 2;
}
.cardsize-S .cardlinkdescription {
  order: 3;
}
.cardsize-S .cardlinkurl {
  order: 1;
}

/* ----- リンクカードの装飾（サイズL用） ----- */
.cardsize-L {
  flex-direction: column;
  /* リンクカード内の画像枠 */
  /* リンクカード内のテキスト枠 */
  /* リンクタイトル */
  /* リンク概要文 */
  /* リンクドメイン */
}
.cardsize-L .cardlinkimage {
  aspect-ratio: 1.91/1;
  width: 100%;
  height: auto;
}
/* 画像リンク */
.imagelink {
  position: relative;
  display: inline-block;
  aspect-ratio: 1/1;
  width: 120px;
  overflow: hidden;
}
.imagelink.nsfw::after {
  content: "\e000";
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  aspect-ratio: 1/1;
  width: 40px;
  font-family: var(--font-family-icon);
  font-size: 40px;
  line-height: 1;
  color: var(--main-color-1);
}

/* 画像そのもの */
.embeddedimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* フラグ付き画像 */
img.nsfw {
  filter: blur(9px);
}

/* ============= */
/*   ヘッダ領域   */
/* ============= */
header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-block: 0.6em;
}

/* ----- ▼タイトル区画 ----- */
.headtitle .maintitle {
  font: 500 3.6rem/1 var(--font-family-sitename);
}
.headtitle .maintitle a {
  color: var(----main-color-6);
  text-decoration: none;
}
.headtitle .subtitle {
  font-size: var(--font-size-basic);
}
.headtitle .mainguide {
  margin: 0;
  font-size: var(--font-size-sm);
}

/* ----- 管理・投稿ボタン区画 ----- */
.headcontrol {
  /* 管理・投稿用リンクボタン */
}
.headcontrol .control-links {
  display: flex;
  justify-content: end;
  gap: 0.5em;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.headcontrol .control-links li {
  list-style: none;
}
.headcontrol .control-links a {
  overflow: hidden;
  padding-block: 0.4rem;
  padding-inline: 0.8rem;
  border: 2px solid var(--main-color-2);
  border-radius: var(--rounded-basic);
  color: var(--main-color-6);
  font-weight: 600;
  font-size: var(--font-size-xs);
  transition: border-color var(--animation);
}
.headcontrol .control-links a:hover {
  border-color: var(--main-color-6);
}

/* ======================== */
/*   入力フォームの表示領域   */
/* ======================== */
/* ----- 本文入力欄 ----- */
.postarea .line-textarea {
  margin: 0;
  margin-block: 0;
}
.postarea .line-textarea textarea {
  width: 100%;
  border: 1px solid var(--main-color-2);
  border-radius: var(--rounded-basic);
  transition: border-color var(--animation);
}
.postarea .line-textarea textarea:hover, .postarea .line-textarea textarea:focus {
  border-color: var(--main-color-3);
}
.postarea .line-control {
  line-height: 3.4em;
  /* ----- 投稿ボタン・文字装飾ボタン群 ----- */
}
.postarea .line-control .postbutton,
.postarea .line-control [type=button],
.postarea .line-control [type=file]::file-selector-button {
  cursor: pointer;
  display: inline-block;
}
.postarea .line-control .postbutton,
.postarea .line-control [type=button] {
  padding-block: 0.4rem;
  padding-inline: 0.4rem;
  line-height: 1;
}
.postarea .line-control .postbutton {
  padding-inline: 2rem;
  background: var(--main-color-6);
  border: 0;
  border-radius: var(--rounded-pill);
  color: var(--main-color-1);
  line-height: var(--line-height-basic);
}
.postarea .line-control [id*=postcount] {
  font-size: var(--font-size-xs);
}
.postarea .line-control [class*=Btns] [id*=Door] [type=button], .postarea .line-control [class*=Btns] > [type=button] {
  padding-inline: 1rem;
  background: var(--main-color-2);
  border: 0;
  border-radius: var(--rounded-pill);
  color: var(--main-color-6);
  line-height: var(--line-height-basic);
}
.postarea .line-control [class*=Btns] [id*=Set],
.postarea .line-control [class*=Btns] [id*=imageBtns] {
  padding: 14px 6px;
  border: 1px solid var(--main-color-2);
  border-inline-start-width: 4px;
  border-radius: var(--rounded-basic);
  line-height: 1;
  vertical-align: middle;
}
.postarea .line-control [class*=Btns] [id*=Set] [type=button],
.postarea .line-control [class*=Btns] [id*=Set] [type=file]::file-selector-button,
.postarea .line-control [class*=Btns] [id*=imageBtns] [type=button],
.postarea .line-control [class*=Btns] [id*=imageBtns] [type=file]::file-selector-button {
  border: 2px solid var(--main-color-2);
  border-radius: var(--rounded-basic);
}
.postarea .line-control [class*=Btns] [id*=Set] [type=button] + [type=button],
.postarea .line-control [class*=Btns] [id*=Set] [type=file]::file-selector-button + [type=button],
.postarea .line-control [class*=Btns] [id*=imageBtns] [type=button] + [type=button],
.postarea .line-control [class*=Btns] [id*=imageBtns] [type=file]::file-selector-button + [type=button] {
  margin-inline-start: 2px;
}
.postarea .line-control [class*=Btns] [id*=Set] [class*=Checks] + [class*=Checks], .postarea .line-control [class*=Btns] [id*=Set] [class*=Checks] + [type=button],
.postarea .line-control [class*=Btns] [id*=Set] [type=button] + [class*=Checks],
.postarea .line-control [class*=Btns] [id*=Set] [type=button] + [type=button],
.postarea .line-control [class*=Btns] [id*=imageBtns] [class*=Checks] + [class*=Checks],
.postarea .line-control [class*=Btns] [id*=imageBtns] [class*=Checks] + [type=button],
.postarea .line-control [class*=Btns] [id*=imageBtns] [type=button] + [class*=Checks],
.postarea .line-control [class*=Btns] [id*=imageBtns] [type=button] + [type=button] {
  margin-inline-start: 0.6em;
}
.postarea .line-control [class*=Btns] [id*=Set] [type=button] + [type=button],
.postarea .line-control [class*=Btns] [id*=imageBtns] [type=button] + [type=button] {
  margin-inline-start: 2px;
}
.postarea .line-control [class*=Btns] [id*=Set] [class*=Checks] label + label,
.postarea .line-control [class*=Btns] [id*=imageBtns] [class*=Checks] label + label {
  margin-inline-start: 0.6em;
}

/* =============================================== */
/*   段組構成（画面の幅が800px以上ある広い場合限定）   */
/* =============================================== */
/* ======================== */
/*   メイン（ログ掲載）領域   */
/* ======================== */
/* ----- 表示対象の限定時などの「限定条件」表示行 ----- */
.situation {
  font-size: var(--font-size-sm);
  font-weight: bold;
}
.situation:empty {
  display: none;
}

/* ================================= */
/*   投稿ボックス（一発言）ごとの表示   */
/* ================================= */
.onelogbox {
  padding-block: 0.6em;
}
.onelogbox + .onelogbox {
  border-top: 1px solid var(--main-color-2);
}

/* 限定条件表示行の直下に表示される場合 */
.situation + .onelogbox {
  border-top: 1px solid var(--main-color-2);
}

.onelogheader,
.oneloginfo {
  font-size: var(--font-size-sm);
}
.onelogheader a,
.oneloginfo a {
  color: var(--main-color-4);
  text-decoration: none;
}

.onelogheader {
  display: flex;
  justify-content: end;
  gap: 0.6em;
}

.oneloginfo {
  text-align: right;
}

/* ----- カテゴリ名 ----- */
.categories {
  margin: 0;
  font-size: var(--font-size-sm);
}

.catseparator {
  margin-right: 2px;
}

/* ----- 編集ボタン ----- */
.editlink a::before {
  content: "\e3c9";
  font-family: var(--font-family-icon);
}

/* ========================================================= */
/*   鍵付き(パスワード保護)投稿に表示される鍵入力フォームの装飾   */
/* ========================================================= */
/* ================================================================== */
/*   一発言だけが表示される際に追加表示されるユーティリティリンク群の装飾   */
/* ================================================================== */
/* =========================== */
/*   ■ページナビゲーション領域   */
/* =========================== */
.pagenavi {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  margin: 5em 0;
  text-align: center;
  line-height: 1;
}
.pagenavi > * {
  margin: 0;
}
.pagenavi a {
  display: inline-block;
}

.pagelinks,
.pagenums {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.6em;
}

/* ----- ページ前後移動リンク ----- */
.pagelinks a {
  color: var(--main-color-3);
  text-decoration: none;
  font-size: 3.6rem;
  transition: color var(--animation);
}
.pagelinks a:hover {
  color: var(--main-color-6);
}
.pagelinks a::before, .pagelinks a::after {
  font-family: var(--font-family-icon);
}
.pagelinks a.prevlink::before {
  content: "\f46b";
}
.pagelinks a.nextlink::after {
  content: "\f46a";
}

/* ----- ページ番号リンク ----- */
.pagenums a {
  min-width: 26px;
  height: 26px;
  padding: 4px 4px;
  border: 1px solid var(--main-color-2);
  border-radius: var(--rounded-pill);
  background: var(--main-color-1);
  text-align: center;
  text-decoration: none;
  transition: border-color var(--animation);
}
.pagenums a:hover {
  border-color: var(--main-color-3);
}
.pagenums a.pagenumhere {
  background: var(--main-color-2);
}

/* ----- 限定解除リンク（＝HOMEに戻るリンク） ----- */
.pagehome a {
  min-width: 140px;
  color: var(--main-color-3);
  transition: color var(--animation);
  text-decoration: none;
}
.pagehome a:hover {
  color: var(--main-color-6);
}

/* =========== */
/*   サブ領域   */
/* =========== */
/* ----- 検索窓区画 ----- */
.searcharea input[type=text],
.searcharea select {
  border: 0;
  border-radius: var(--rounded-basic);
}

.submitbutton {
  margin-left: 0.6em;
  border: 0;
  border-radius: var(--rounded-basic);
  background: var(--main-color-6);
  color: var(--main-color-1);
  font-size: var(--font-size-sm);
  font-weight: 600;
}

/* 検索対象を限定するチェックボックス */
.searchtarget {
  font-size: var(--font-size-sm);
  line-height: 1;
}
.searchtarget label span {
  margin-left: 0.2em;
}

/* 検索フォーム形式の切り替えリンク */
.siwtchsearchbox a {
  font-size: var(--font-size-sm);
}
.siwtchsearchbox a::before {
  content: "\e915";
  font-family: var(--font-family-icon);
}

/* 複合検索フォーム */
#complexsearch {
  display: none;
}

/* 検索オプションリスト */
.searchoptions {
  font-size: var(--font-size-sm);
}
.searchoptions select {
  max-width: 175px;
  overflow: hidden;
}

/* 項目名 */
.solabel {
  display: inline-block;
  min-width: 5em;
}

/* ============= */
/*   フッタ領域   */
/* ============= */
footer {
  padding-top: 0.6em;
  background: var(--main-color-2);
}

.cornertitle {
  font: 600 var(--font-size-sm)/1 var(--font-family-heading);
}
.cornertitle::before {
  content: "-";
  margin-inline: 4px;
}

.control-area {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.control-area .control-links {
  margin: 0;
  font-size: var(--font-size-sm);
}

.movelinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  margin: 2em 0;
}
.movelinks a {
  padding-block: 0.4rem;
  padding-inline: 0.8rem;
  border-radius: var(--rounded-pill);
  background: var(--main-color-1);
  font-size: var(--font-size-sm);
  font-weight: 600;
  text-decoration: none;
}
.movelinks a.rsslink {
  background: var(--main-color-3);
}

/* Powered-by表記のデザイン */
.poweredby {
  margin: 0;
  font-size: var(--font-size-xs);
}