@charset "UTF-8";
/* ===== ▼ リセット　ここから（基本的には触らない方が良い部分） ▼ ===== */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*
  Add by espace
*/
* {
  word-break: normal;
}

:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  word-wrap: break-word;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  margin-block: 0;
  margin-inline: auto;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  max-inline-size: 100%;
}

p,
dl,
ul,
ol,
form,
blockquote {
  margin-block: 1em;
  margin-inline: auto;
}

main {
  hanging-punctuation: allow-end;
}

/* ===== ▲ リセット　ここまで（基本的には触らない方が良い部分） ▲ ===== */
/* =============== */
/*   全体共通装飾   */
/* =============== */
/* ----- リンクの装飾 ----- */
a {
  color: red;
}
/* ----- URLが書かれた場合の装飾 ----- */
.url {
  word-break: break-all; /* 自動リンクのはみ出しを防ぐ */
}

/* ----- カード型リンクの装飾 ----- */
/* ----- リンクカードの装飾（サイズ共通部分） ----- */
/* カード外枠 */
/* リンクカード内の画像枠 */
.cardlinkimage {
  background-image: linear-gradient(-30deg, #8aa, #e0f0f0);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* リンクカード内のテキスト枠 */
.cardlinktitle,
.cardlinkdescription,
.cardlinkurl {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}

/* リンクタイトル */
/* リンク概要文 */
/* リンクドメイン */
/* ----- リンクカードの装飾（サイズS用） ----- */
.cardsize-S {
  flex-direction: row;
  /* リンクカード内の画像枠 */
  /* リンクカード内のテキスト枠 */
  /* リンクタイトル */
  /* リンク概要文 */
  /* リンクドメイン */
}
.cardsize-S .cardlinkimage {
  min-width: 100px;
  min-height: 100px;
  flex-shrink: 0;
}
.cardsize-S .cardlinktextbox {
  justify-content: center;
}
.cardsize-S .cardlinktitle {
  order: 2;
}
.cardsize-S .cardlinkdescription {
  order: 3;
}
.cardsize-S .cardlinkurl {
  order: 1;
}

/* ----- リンクカードの装飾（サイズL用） ----- */
.cardsize-L {
  flex-direction: column;
  /* リンクカード内の画像枠 */
  /* リンクカード内のテキスト枠 */
  /* リンクタイトル */
  /* リンク概要文 */
  /* リンクドメイン */
}
.cardsize-L .cardlinkimage {
  aspect-ratio: 1.91/1;
  width: 100%;
  height: auto;
}
/* ----- 汎用装飾：文字 ----- */
/* B:太字(Bold) */
.decorationB {
  font-weight: bold;
}

/* D:削除(Delete) */
.decorationD {
  color: #888;
  text-decoration-line: line-through;
  text-decoration-color: darkblue;
}

/* E:強調(Emphasis) */
.decorationE {
  font-style: normal;
  font-weight: bold;
  color: #05c;
}

/* I:斜体(Italic) */
.decorationI {
  font-style: italic;
}

/* Q:引用(Quote) */
.decorationQ {
  border-left: 5px double skyblue;
  margin: 1em 0.3em 1em 1em;
  padding: 0.75em 0.5em;
  background-color: #f8f8ff;
  font-size: 0.95em;
  display: block; /* ※Ver 2.2.0以降必須の記述 */
}
.decorationQ::before, .decorationQ::after {
  content: ""; /* 標準で付加されてしまう引用符を無効にする */
}
.decorationQ + br {
  display: none; /* 引用直後の改行を無効化する */
}

/* S:小文字(Small) */
.decorationS {
  font-size: 0.8em;
}

/* T:極小文字(Tiny) */
.decorationT {
  font-size: 0.6em;
}

/* U:下線(Underline) */
.decorationU {
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: skyblue;
}

/* ----- 自由装飾用の装飾 ----- */
/* ----- 汎用装飾：画像 ----- */
/* B:太字(Bold)に含まれる画像に対する装飾 */
.decorationB img {
  box-shadow: 5px 5px 5px royalblue;
}

/* D:削除(Delete)に含まれる画像に対する装飾 */
.decorationD img {
  opacity: 0.5;
}

/* E:強調(Emphasis)に含まれる画像に対する装飾 */
.decorationE img {
  outline: 8px ridge rgba(50, 220, 170, 0.6);
}

/* I:斜体(Italic)に含まれる画像に対する装飾 */
.decorationI img {
  box-shadow: -5px 5px 5px yellowgreen;
}

/* Q:引用(Quote)に含まれる画像に対する装飾 */
.decorationQ img {
  vertical-align: middle;
}

/* S:小文字(Small)に含まれる画像に対する装飾 */
.decorationS img {
  vertical-align: middle;
}

/* T:極小文字(Tiny)に含まれる画像に対する装飾 */
.decorationT img {
  max-height: 75px;
  width: auto;
  vertical-align: middle;
}

/* U:下線(Underline)に含まれる画像に対する装飾 */
.decorationU img {
  box-shadow: 5px 5px 5px skyblue;
}

/* ----- 埋め込み画像 ----- */
/* 画像ボックス(FIGオプション指定時) */
.embeddedpictbox {
  margin: 0;
  padding: 0;
  display: inline-table;
  border-collapse: collapse;
  border: 1px solid #e8f4ff;
  vertical-align: top;
  /* キャプション */
  /* 画像ボックスに含まれる画像 */
}
.embeddedpictbox figcaption {
  display: table-caption;
  caption-side: bottom;
  font-size: 0.8em;
  text-align: center;
  background-color: #e8f4ff;
}
.embeddedpictbox img {
  vertical-align: middle;
}

/* 画像リンク */
.imagelink {
  display: inline-block;
  line-height: 1;
  vertical-align: inherit;
}

/* 画像そのもの */
.embeddedimage {
  max-width: 100%;
  max-height: 240px;
  width: auto;
  height: auto;
}

/* フラグ付き画像 */
figure.nsfw {
  overflow: hidden;
}

.imagelink.nsfw {
  overflow: hidden;
}

img.nsfw {
  filter: blur(9px);
}

/* ----- 埋め込み動画 ----- */
/* [VIDEO:キャプション]URL記法で、キャプション付きで掲載される場合の外側要素 */
figure.embeddedvideo {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
}

/* [VIDEO:キャプション]URL記法で、キャプション付きで掲載される場合のキャプション部分 */
.videotitle {
  text-align: center;
  background-color: #d2ecfd;
}

/* [VIDEO]URL記法（または [VIDEO:キャプション]URL記法）で掲載されるvideo要素部分 */
video.embeddedvideo {
  display: inline-block;
  max-width: 100%;
  width: auto;
  height: auto;
}

/* YouTube埋め込み */
@media all and (max-width: 600px) {
  .embeddedmovie {
    display: inline-block;
    max-width: 100%;
    width: auto;
    height: auto;
  }
}
/* ----- 埋め込みTweet ----- */
blockquote.twitter-tweet {
  background-color: #f8f8f8;
  border: 1px dashed #ddd;
  border-radius: 9px;
  margin: 0.3em 0;
  padding: 1em;
  font-size: 0.95em;
  color: #999;
  text-shadow: 1px 1px 1px #fff;
}

/* 埋め込みツイートの横幅を強制的に制限 */
div.twitter-tweet {
  max-width: 350px !important;
}

/* ----- 検索語のハイライト ----- */
.searchword {
  font-weight: bold;
  background: linear-gradient(transparent 60%, #8df 60%);
}

/* ============= */
/*   ヘッダ領域   */
/* ============= */
header {
  display: table;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #acb1b4;
  box-shadow: 1px 1px 0px #dae0e4;
}

/* ----- ▼タイトル区画 ----- */
.headtitle {
  display: table-cell;
  margin: 0;
  padding: 0.2em;
  color: #66757f;
  line-height: 1;
}

/* 先頭アイコン */
.headicon {
  color: #08f;
  vertical-align: top;
}

/* タイトル */
h1 {
  margin: 0.2em;
}

/* サブタイトル */
.subtitle {
  display: inline-block;
  font-size: 0.6em;
}

/* タイトル直下の文章 */
.headguide {
  margin: 0.2em;
}

/* ----- 管理・投稿ボタン区画 ----- */
.headcontrol {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  padding: 0 3px;
}

.control-links {
  margin: 0;
}

/* 管理・投稿用リンクボタン */
.headcontrol a {
  display: inline-block;
  text-align: center;
  border: 2px solid white;
  border-radius: 2em;
  padding: 0.5em 1em;
  margin-bottom: 1px;
  background-color: #08f;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
.headcontrol a:hover {
  text-decoration: underline;
  background-color: skyblue;
  color: white;
}

@media all and (min-width: 800px) {
  .headcontrol {
    white-space: nowrap;
  }
}
/* ======================== */
/*   入力フォームの表示領域   */
/* ======================== */
.postform {
  background-color: #e8f5fe;
  margin: 0;
  padding: 1em;
}
.postform p {
  margin: 0;
}

/* ----- 本文入力欄 ----- */
textarea.tegalogpost {
  border: 2px #08f solid;
  border-radius: 0.67em;
  background-color: white;
  padding: 0.5em;
  font-size: 0.9rem;
  box-sizing: border-box;
  width: 100%;
  height: 4.3em;
  overflow-wrap: break-word;
  overflow: auto;
  margin-bottom: 0.25em;
  /* for IE */
}
textarea.tegalogpost:placeholder-shown {
  color: #777;
}
textarea.tegalogpost:focus:placeholder-shown {
  color: #bbb;
}
textarea.tegalogpost:-ms-input-placeholder {
  color: #aaa;
}

/* 投稿コントロール部分(ボタンや字数カウンタなど) */
.line-control {
  margin: 0.25em 0;
}

/* 横幅800px以下の環境の場合 */
@media all and (max-width: 800px) {
  textarea.tegalogpost {
    font-size: 16px;
    padding: 0.4em;
  }
}
/* ----- 投稿ボタン ----- */
.postbutton {
  background: #08f; /*#35abf2;*/
  color: white;
  font-size: 1rem;
  border-radius: 1em;
  padding: 0.25em 0.75em;
  font-weight: bold;
  border: 1px solid #35abf2;
  text-decoration: none;
  display: inline-block;
}
.postbutton:hover {
  background-color: skyblue;
}

/* ----- 文字装飾ボタン群 ----- */
/* 掲載領域全体 */
.decoBtns {
  display: inline-block;
  margin-top: 0.5em;
}

/* 全ボタン装飾 */
.decoBtns input {
  min-width: 32px;
  min-height: 28px;
  margin: 1px;
  background-color: #eee;
  border: 1px solid #aaa;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  vertical-align: middle;
}

/* マウス載る際 */
.decoBtns input:hover {
  background-color: #e5f1fb;
  border-color: #0078d7;
}

/* 太字  :B */
.decoBtnB {
  font-weight: bold;
}

/* 取消線:D */
.decoBtnD {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-style: double;
}

/* 強調  :E */
.decoBtnE {
  font-weight: bold;
  color: blue;
}

/* 斜体  :I */
.decoBtnI {
  font-style: italic;
}

/* 引用  :Q */
/* 小さめ:S */
/* 極小  :T */
.decoBtnT {
  font-size: 11px !important;
}

/* 下線  :U */
.decoBtnU {
  text-decoration: underline;
  text-decoration-color: red;
}

/* 文字色:C */
.decoBtnC {
  color: red;
}

/* 背景色:M */
.decoBtnM {
  color: blue;
}

@media all and (min-width: 800px) {
  /* 文字装飾ボタン群 */
  .decoBtns {
    margin-top: 0;
  }
}
/* ----- カテゴリ選択チェックボックス群（★Ver 3.0.0以降で使用） ----- */
.catChecks {
  font-size: 0.9em;
  padding-top: 0.5em;
}
.catChecks label {
  display: inline-block;
  cursor: pointer;
  margin: 0 0.75em 0 0;
}
.catChecks label:hover {
  text-decoration: underline;
}
.catChecks input {
  min-width: 0;
  min-height: 0;
  margin-right: 0.2em;
}

/* 投稿欄下部：「鍵付き」チェックボックスと「個別鍵」ボタンの間を詰める一時的なスタイル */
.funcUIs .catChecks {
  margin: 0 0.75em 0 0;
}
.funcUIs .catChecks label {
  margin: 0;
}

/* =============================================== */
/*   段組構成（画面の幅が800px以上ある広い場合限定）   */
/* =============================================== */
@media all and (min-width: 800px) {
  /* ----- 大外枠の装飾 ----- */
  .contents {
    display: flex;
    flex-direction: row-reverse;
    border-collapse: separate;
    border-spacing: 1em 0;
    margin: 0;
    padding: 0;
    width: 100%;
    /* ----- メイン段の装飾 ----- */
    /* ----- サブ段の装飾 ----- */
  }
  .contents .mainarea {
    width: 75%; /* メイン側の横幅 */
    vertical-align: top;
    margin: 1em 1em 0 0;
  }
  .contents .subarea {
    width: 25%; /* サブ側の横幅 */
    vertical-align: top;
  }
}
/* ======================== */
/*   メイン（ログ掲載）領域   */
/* ======================== */
.mainarea {
  padding: 0;
  background-color: white;
}

/* ----- 表示対象の限定時などの「限定条件」表示行 ----- */
.situation {
  margin: 1em;
  font-weight: bold;
  color: #05f;
}
.situation:empty {
  display: none;
}

/* ----- 日付セパレータ行 ----- */
.dateseparator {
  background-color: #e6ecf0;
  color: black;
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
  padding: 1px 1em;
  border-color: #ccd6dd;
  border-width: 1px 0px;
  border-style: solid;
  /* 日付セパレータ行内のリンク */
}
.dateseparator a {
  background-color: #f5f8fa;
  font-size: 80%;
  font-weight: normal;
  display: inline-block;
  border-radius: 1em;
  margin: 0px 0.25em;
  padding: 0px 0.5em;
}

/* ================================= */
/*   投稿ボックス（一発言）ごとの表示   */
/* ================================= */
.onelogbox {
  margin: 0;
  padding: 1em 0;
  border-bottom: 1px #e6ecf0 solid;
  display: table;
  width: 100%;
  box-sizing: border-box;
}

/* 限定条件表示行の直下に表示される場合 */
.situation + .onelogbox {
  border-top: 1px #e6ecf0 solid;
}

/* ----- ユーザアイコン表示 ----- */
.iconarea {
  display: table-cell;
  vertical-align: top;
  padding-top: 3px;
  padding-right: 6px;
}

.usericon {
  vertical-align: middle;
}

/* ----- 投稿内容側 ----- */
.onelogbody {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}

/* ----- 投稿情報表示 ----- */
.oneloginfo {
  margin: 0 0 0.3em 0;
  font-size: 0.9em;
}

.onelogctrl {
  margin: 0;
  float: right;
}

/* ----- ユーザ名領域 ----- */
.username {
  display: inline-block;
  margin: 0 0.5em 0 0;
  font-weight: bold;
  /* ユーザ名のリンク */
}
.username a {
  color: black;
}
.username a:hover {
  color: #0a71ae;
}

/* ----- 投稿日時領域 ----- */
.postdate {
  font-size: 0.85em;
  /* 投稿日時のリンク */
}
.postdate a {
  display: inline-block;
  color: #555;
  background-color: white;
  border-radius: 0.5em;
  padding: 0 0.5em;
}
.postdate a:hover {
  color: #0a71ae;
}

/* ----- New!サイン部分 ----- */
.newsign {
  display: inline-block;
  color: #f55;
  font-size: 0.8em;
  margin-right: 0.35em;
}
.newsign:empty {
  display: none;
}

/* ----- カテゴリ名 ----- */
.categories {
  font-size: 0.9em;
  margin-right: 0.25em;
}

/* カテゴリリンク1つ */
.categorylink {
  display: inline-block;
  text-decoration: none;
}

/* カテゴリ間のセパレータ */
.catseparator {
  display: inline-block;
  margin: 0 1px;
  color: gray;
}

/* カテゴリアイコン */
.categoryicon img {
  height: 1.2em;
  width: auto;
  vertical-align: text-top;
  margin: 0 1px;
}

/* ----- 投稿No. ----- */
.postnum {
  font-size: 0.75em;
  color: #555;
}

/* ----- 文字数 ----- */
.length {
  font-size: 0.8em;
  color: #555;
}

/* ----- 編集ボタン ----- */
.editlink {
  font-size: 0.67em;
}
.editlink a {
  text-decoration: none;
  display: inline-block;
  color: #08f;
  background-color: #eef;
  border: 1px solid #ccf;
  border-radius: 5px;
  padding: 0 3px;
}
.editlink a:hover {
  background-color: blue;
  color: white;
  border-color: blue;
}

/* ----- 投稿本文 ----- */
.onelogcontent {
  margin: 0;
}

.comment {
  line-height: 1.3;
  /* 投稿本文に含まれるURLリンク */
}
.comment .url {
  color: #85973e;
  text-decoration: none;
}
.comment .url:hover {
  text-decoration: underline;
}

/* 投稿本文に含まれるハッシュタグリンク */
.onelogbody .taglink {
  display: inline-block;
  color: #85973e;
  text-decoration: none;
  word-break: break-all;
}
.onelogbody .taglink:hover {
  text-decoration: underline;
}

/* ----- 続きを読むリンク（ボタン） ----- */
/* ボタン枠の装飾(共通) */
.readmorebutton {
  display: inline-block;
  padding: 1px 0.5em;
  margin: 0 1px;
  border: 1px solid #ccd;
  border-radius: 0.5em;
  /* ボタン表面の装飾(共通) */
  /* ボタンにマウスが載った際の装飾(共通) */
  /* 開く（続きを読む）ボタン専用の装飾 */
  /* 閉じる（畳む）ボタン専用の装飾 */
}
.readmorebutton:link, .readmorebutton:visited {
  background-color: #eee;
  background-image: linear-gradient(0deg, #ccc, #ddd 55%, white);
  color: darkblue;
  text-decoration: none;
}
.readmorebutton:hover {
  background-image: none;
  background-color: #5be;
  color: white;
  text-decoration: underline;
}
.readmorebutton.readmoreopen {
  font-size: 0.95em;
}
.readmorebutton.readmoreclose {
  font-size: 0.75em;
}

/* ----- 折り畳み空間 ----- */
/* ボタンカバー */
.foldswitch {
  width: fit-content;
}

/* ボタン */
.foldlabel {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border: 1px solid #bcc;
  border-radius: 5px;
  background-color: #def;
  background-image: linear-gradient(0deg, #cde, #def 55%, white);
  color: darkblue;
  line-height: 1;
  cursor: pointer;
}
.foldlabel:hover {
  background-image: none;
  background-color: #3bf;
  color: white;
}

/* 折り畳まれている空間 */
.foldedarea {
  border-left: 3px solid skyblue;
  margin: 0.25rem 0 0 0.125rem;
  padding: 0.25rem 0.5rem;
}

/* ========================================================= */
/*   鍵付き(パスワード保護)投稿に表示される鍵入力フォームの装飾   */
/* ========================================================= */
.passkeyform {
  display: inline-block;
  margin: 0;
  padding: 0.6em;
  background-color: #e8f4ff;
  border: 1px solid #bfe2ff;
  border-radius: 0.25em;
}

/* 鍵違いエラーの表示 */
.passkeyerror {
  display: block;
  color: white;
  background-color: #08f;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 0.5em 0;
  padding: 0.33em 0.25em;
}

/* 入力フォーム枠 */
.passkeybox {
  display: block;
}

/* 入力欄前のガイド文 */
.passkeyguide {
  margin-right: 0.1em;
}

/* 鍵入力欄 */
.passkeyinput {
  width: 10em;
  margin: 0 0.25em 3px 0;
}

/* 送信ボタン */
/* ================================================================== */
/*   一発言だけが表示される際に追加表示されるユーティリティリンク群の装飾   */
/* ================================================================== */
.utilitylinks {
  margin: 2em 1em 1em 1em;
  padding: 0.5em;
  border: 1px solid #b2defc;
  border-radius: 1em;
  background-color: #eff8fe;
  font-size: 0.9em;
}
.utilitylinks ul {
  color: darkblue;
}

/* =========================== */
/*   ■ページナビゲーション領域   */
/* =========================== */
.pagenavi {
  margin: 2.5em 0px;
  padding: 0.5em 0px;
  text-align: center;
  border-width: 3px 0px;
  border-style: solid;
  border-color: #ccd6dd;
  background-color: #f5f8fa;
}
.pagenavi p {
  margin: 0;
  text-align: center;
}

/* ----- ページ前後移動リンク ----- */
.pagelinks {
  margin: 0.75em;
}
.pagelinks a {
  font-weight: bold;
}

/* ----- ページ番号リンク ----- */
p.pagenums {
  margin: 0.5em;
}

/* ページ番号リンクの数字 */
.pagenums a .pagenumlink {
  margin: 0px 2px 0px 2px;
  padding: 0.2em 0.5em;
  font-size: 1em;
  font-weight: bold;
}
.pagenums a .pagenumlink:hover {
  text-decoration: none;
  background-color: #08f;
  color: white;
  border-radius: 0.3em;
}

/* 現在のページ番号の装飾 */
a.pagenumhere {
  text-decoration: none;
  background-color: #5bf;
  color: white;
  border-radius: 1em;
}

/* ----- 限定解除リンク（＝HOMEに戻るリンク） ----- */
.pagehome {
  font-weight: bold;
}

/* =========== */
/*   サブ領域   */
/* =========== */
.subarea {
  margin: 1em 1em 0 1em;
  padding: 0;
}

/* ----- フリースペース区画 ----- */
.freespacearea {
  margin: 0 0 1em 0; /* 外側の余白量 */
  padding: 1em; /* 内側の余白量 */
  background-color: white; /* 背景色 */
  /* 見出し */
}
.freespacearea .cornertitle {
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 1px #eee;
  margin: 0 0 0.5em 0;
  border-bottom: 1px dashed #aaa;
}

/* フリースペースの中身 */
.freecontents {
  font-size: 0.9em;
  line-height: 1.4;
}

/* フリースペース編集用リンク */
.freespaceedit {
  font-size: 0.7em;
  text-align: right;
  border-top: 1px dotted #ccc;
  margin: 0.5em 0 0 0;
}

/* ----- 検索窓区画 ----- */
.searcharea {
  margin: 0 0 1em 0;
  padding: 1em;
  background-color: white;
  overflow: auto;
  /* 見出し */
}
.searcharea .cornertitle {
  font-weight: bold;
  margin: 0;
  color: black;
  text-shadow: 1px 1px 1px #eee;
}

/* 検索フォーム */
.searchbox {
  margin: 0;
}

/* 検索対象を限定するチェックボックス */
.searchtarget {
  margin: 0;
  font-size: 0.9em;
  line-height: 1.3;
}

/* 検索フォーム形式の切り替えリンク */
.siwtchsearchbox {
  font-size: 0.8em;
  margin-bottom: 0;
}

/* 複合検索フォーム */
#complexsearch {
  display: none; /* 複合検索窓は、最初は非表示にしておく */
}

/* 検索オプションリスト */
.searchoptions {
  font-size: 0.9em;
  margin: 0.75em 0 1em 0.5em;
  padding: 0 0 0 0.5em;
  /* セレクトボックス */
}
.searchoptions select {
  max-width: 175px;
  overflow: hidden;
}

/* 項目名 */
.solabel {
  display: inline-block;
  min-width: 5em;
}

/* ----- 画像一覧リスト区画 ----- */
.imagelistarea {
  margin: 0 0 1em 0;
  padding: 1em;
  background-color: white;
  /* 見出し */
}
.imagelistarea .cornertitle {
  margin: 0;
  font-weight: bold;
  color: #008;
  text-shadow: 1px 1px 1px #eee;
}

/* ----- 新着画像リスト内の各画像の装飾 ----- */
.imagelistbox {
  margin: 0;
  text-align: center;
  /* 画像リストの1項目内の画像そのもの */
}
.imagelistbox .oneimage {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  vertical-align: middle;
}

/* 画像リストの1項目枠 */
.imagelistitem {
  display: inline-block;
  width: 30%;
  max-width: 100px;
  max-height: 100px;
  margin: 1%;
  vertical-align: middle;
  overflow: hidden;
}

/* 総数・総サイズの情報 */
.imagesinfo {
  margin: 0.25em 0;
  text-align: right;
}

.totalimgfiles {
  font-size: 0.9em;
}

.totalimgsizes {
  font-size: 0.8em;
}

/* ----- ハッシュタグリスト区画 ----- */
.hashtaglistarea {
  margin: 0 0 1em 0;
  padding: 1em;
  background-color: white;
  /* 見出し */
}
.hashtaglistarea .cornertitle {
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 1px #eee;
  margin: 0 0 0.5em 0;
  border-bottom: 1px dashed #aaa;
}

/* ハッシュタグリスト */
.hashtaglist {
  margin: 0.5em;
  padding: 0;
  list-style-type: none;
  /* ハッシュタグリスト内の該当件数 */
}
.hashtaglist li {
  display: inline-block;
}
.hashtaglist .num {
  font-size: 0.9em;
  color: gray;
  margin-left: 0.25em;
}

/* ----- カテゴリツリー区画 ----- */
.categoryarea {
  margin: 0 0 1em 0; /* 外側の余白量 */
  padding: 1em; /* 内側の余白量 */
  background-color: white; /* 背景色 */
  /* 見出し */
}
.categoryarea .cornertitle {
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 1px #eee;
  margin: 0 0 0.5em 0;
  border-bottom: 1px dashed #aaa;
}

.categoryTree {
  /* カテゴリツリー */
  /* カテゴリツリー内の該当件数 */
  /* カテゴリアイコン */
  /* カテゴリ名 */
  /* 間隔調整：カテゴリアイコンとカテゴリ名が並ぶ際には間隔を空ける */
  /* カテゴリ概要文 */
}
.categoryTree ul {
  padding-left: 30px;
  list-style-type: disc;
}
.categoryTree .num {
  display: inline-block;
  margin-left: 0.4em;
  font-size: 0.9em;
  color: #aaa;
}
.categoryTree .caticon img {
  height: 1.2em; /* アイコンの高さを1.2文字分に制限する */
  width: auto; /* アイコンの横幅は自動調整する */
  vertical-align: text-top; /* アイコンの上端位置をテキストの上端に合わせる */
}
.categoryTree .caticon + .cattext,
.categoryTree .cattext + .caticon {
  margin-left: 3px;
}
.categoryTree .catdescription {
  font-size: smaller;
  color: #555;
}

/* ----- 日付別リスト区画 ----- */
.datelistarea {
  margin: 0 0 1em 0; /* 外側の余白量 */
  padding: 1em; /* 内側の余白量 */
  background-color: white; /* 背景色 */
  /* 見出し */
}
.datelistarea .cornertitle {
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 1px #eee;
  margin: 0 0 0.5em 0;
  border-bottom: 1px dashed #aaa;
}

/* 日付リスト(年単位) */
.datelimitlist {
  margin: 0.5em 0;
  padding: 0 0 0 20px;
  /* 日付リスト(月単位) */
  /* 日付リスト内の該当件数 */
}
.datelimitlist .datelimitsublist {
  margin: 0;
  padding: 0 0 0 10px;
  list-style-type: none;
  font-size: 0.95em;
  /* 年表記が単独で存在する場合に、月表示を横に並べる */
  /* 年表記が単独で存在する場合に、月リンク内に含まれる年表記を非表示にする */
}
.datelimitlist .datelimitsublist .datelimit-month {
  display: inline-block;
  margin-right: 0.9em;
}
.datelimitlist .datelimitsublist .year {
  display: none;
}
.datelimitlist .num {
  font-size: 0.85em;
  color: #66a;
  margin-left: 0.3em;
}

/* 日付リンク項目 */
.datelistlink:hover {
  color: white;
  background-color: green;
  border-radius: 3px;
}

/* 日付プルダウンメニュー区画 */
.datelimitbox {
  margin: 0.5em;
}

/* 昇順/降順選択ラジオボタン区画 */
.datelimitboxoptions {
  display: block;
  font-size: 0.9em;
}
.datelimitboxoptions label {
  display: inline-block;
  margin-right: 0.5em;
}

/* ----- 新着投稿リスト区画 ----- */
.latestpostarea {
  margin: 0 0 1em 0;
  padding: 1em;
  background-color: white;
  /* 見出し */
}
.latestpostarea .cornertitle {
  margin: 0;
  font-weight: bold;
  color: #008;
  text-shadow: 1px 1px 1px #eee;
}

/* 新着投稿グリスト */
.latestpostlist {
  margin: 0;
  padding: 0 0.5em 0.3em 1.2em;
  line-height: 1.25;
  /* 各項目 */
  /* タイトルリンク以外の項目 */
  /* 投稿日付 */
  /* 投稿時刻 */
  /* 投稿者名 */
  /* 投稿者ID */
  /* 投稿番号 */
  /* 本文文字数 */
}
.latestpostlist li {
  margin: 0.75em 0;
}
.latestpostlist span {
  display: inline-block;
  font-size: 0.8em;
}
.latestpostlist .postdate {
  color: gray;
}
.latestpostlist .posttime {
  color: gray;
}
.latestpostlist .username {
  color: #558855;
  font-weight: normal;
}
.latestpostlist .userid {
  color: #555588;
}
.latestpostlist .postid {
  color: gray;
}
.latestpostlist .length {
  color: gray;
}

/* ----- カレンダー区画 ----- */
.calendararea {
  margin: 0 0 1em 0;
  padding: 1em;
  background-color: white;
  /* 見出し */
}
.calendararea .cornertitle {
  margin: 0;
  font-weight: bold;
  color: #005;
  text-shadow: 1px 1px 1px #eee;
}

/* カレンダーカバー */
.calendarplace {
  margin: 1em 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.5;
  overflow: auto;
}

/* カレンダーテーブル */
.calendar {
  border-collapse: collapse;
  border: 1px solid #bfe2ff;
  /* 年月キャプション */
  /* 日付数値の装飾（リンクになる場合も、ならない場合も共通） */
  /* 日付数値のリンク（※リンクになる場合だけの装飾） */
}
.calendar th,
.calendar td {
  border: 1px solid #bfe2ff;
  padding: 2px;
  text-align: center;
  font-size: 0.9em;
  line-height: 1;
}
.calendar caption {
  color: royalblue;
}
.calendar a,
.calendar .nolink {
  display: inline-block;
  border-radius: 50%;
  padding: 0.4em;
  width: 1.2em;
  height: 1.1em;
  background-color: transparent;
}
.calendar td a {
  text-decoration: none;
  background-color: #bfe2ff;
  color: black;
}
.calendar td a:hover {
  background-color: #0088ff;
  color: white;
}

/* 曜日行 */
.daysofweek th {
  background-color: #e8f4ff;
  font-weight: normal;
  padding: 6px 0;
  font-size: 0.8em;
  line-height: 1;
}

/* 今日の枠（カレンダー内での「今日」のセルだけの装飾） */
.today {
  background-color: #ffffcc;
}

/* ----- 汎用ボックス ----- */
.subbox {
  margin: 0 0 1em 0;
  padding: 1em;
  font-size: 0.9em;
  background-color: #fcfcfc;
}

/* ============= */
/*   フッタ領域   */
/* ============= */
/* 戻るリンク */
.backlink {
  text-align: center;
  padding: 1em;
}

/* Powered-by表記のデザイン */
.poweredby {
  margin: 0 1em;
  font-size: 0.8em;
}