@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
:root {
  --font-family-basic: "Yu Gothic", Meiryo, "Hiragino Kaku Gothic ProN", sans-serif;
  --font-family-sitename: "EB Garamond", "Noto Serif JP", Yu Mincho, YuMincho, Hiragino Mincho Pro,
      serif;
  --font-family-heading: "Noto Sans JP", var(--font-family-basic);
  --font-family-icon: Material Symbols Sharp;
  --font-size-xs: 1rem;
  --font-size-sm: 1.3rem;
  --font-size-basic: 1.6rem;
  --line-height-basic: 2.65rem;
  --rounded-basic: 2px;
  --rounded-lg: 6px;
  --rounded-pill: 999px;
  --animation: 0.3s;
  --main-color-1: #fff;
  --main-color-2: #dddddd;
  --main-color-3: #c9c9c9;
  --main-color-4: #8b8b8b;
  --main-color-5: #3f3f3f;
  --main-color-6: #000;
  --text-color: var(--main-color-6);
  --error-color-1: #ffdfdf;
  --error-color-2: #ff6060;
  --search-word-color: #cdfaff;
  --deco-e-text-color: #05c;
  --btn-bg-color: var(--main-color-6);
  --btn-text-color: var(--main-color-1);
}

/* ===== ▼ リセット　ここから（基本的には触らない方が良い部分） ▼ ===== */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*
  Add by espace
*/
* {
  word-break: normal;
}

:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  word-wrap: break-word;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  margin-block: 0;
  margin-inline: auto;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  max-inline-size: 100%;
}

p,
dl,
ul,
ol,
form,
blockquote {
  margin-block: 1em;
  margin-inline: auto;
}

main {
  hanging-punctuation: allow-end;
}

/* ===== ▲ リセット　ここまで（基本的には触らない方が良い部分） ▲ ===== */
/* =============== */
/*   全体共通装飾   */
/* =============== */
body {
  font: 500 var(--font-size-basic)/var(--line-height-basic) var(--font-family-basic);
  color: var(--text-color);
}
body > * {
  padding: 0 0.6em;
}
body::-webkit-scrollbar {
  inline-size: 1rem;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
  border: 1px solid var(--main-color-2);
  border-radius: var(--rounded-pill);
}

/* ----- リンクの装飾 ----- */
a {
  color: var(--main-color-6);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

/* ----- URLが書かれた場合の装飾 ----- */
.url {
  word-break: break-all; /* 自動リンクのはみ出しを防ぐ */
}

/* ----- カード型リンクの装飾 ----- */
/* ----- ボタンの基本装飾 ----- */
[type=submit],
[type=button],
[type=file]::file-selector-button {
  cursor: pointer;
  display: inline-block;
  background: var(--main-color-1);
  border: 2px solid var(--main-color-2);
  border-radius: var(--rounded-basic);
  font-size: var(--font-size-sm);
  font-weight: 600;
  transition: border-color var(--animation);
}
[type=submit]:hover,
[type=button]:hover,
[type=file]::file-selector-button:hover {
  border-color: var(--main-color-6);
}

textarea,
input:not([type=button]):not([type=submit]):not([type=file]) {
  border: 1px solid var(--main-color-2);
  border-radius: var(--rounded-basic);
  transition: border-color var(--animation);
}
textarea:hover, textarea:focus,
input:not([type=button]):not([type=submit]):not([type=file]):hover,
input:not([type=button]):not([type=submit]):not([type=file]):focus {
  border-color: var(--main-color-3);
}

/* ----- リンクカードの装飾 ----- */
.cardlink {
  display: block;
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
  text-decoration: none;
}
.cardlink .cardlinkbox {
  display: flex;
  border: 1px solid var(--main-color-3);
  border-radius: var(--rounded-lg);
  background: var(--main-color-1);
}
.cardlink .cardlinkbox .cardlinkimage {
  background-image: linear-gradient(-30deg, #8aa, #e0f0f0);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cardlink .cardlinkbox .cardlinktextbox {
  display: flex;
  flex-direction: column;
}
.cardlink .cardlinkbox .cardlinktextbox .cardlinktitle {
  font-weight: 600;
}
.cardlink .cardlinkbox .cardlinktextbox .cardlinkdescription {
  font-size: var(--font-size-sm);
}
.cardlink .cardlinkbox .cardlinktextbox .cardlinkurl {
  color: var(--main-color-4);
  font-size: var(--font-size-xs);
}

.cardsize-S .cardlinkimage {
  min-width: 100px;
  min-height: 100px;
  flex-shrink: 0;
}
.cardsize-S .cardlinktextbox {
  justify-content: center;
  padding: 0.4em 0.6em;
}
.cardsize-S .cardlinktextbox .cardlinktitle {
  font-size: var(--font-size-sm);
}
.cardsize-S .cardlinktextbox .cardlinkurl {
  margin-top: auto;
  margin-bottom: 0;
}

.cardsize-L {
  flex-direction: column;
}
.cardsize-L .cardlinkimage {
  aspect-ratio: 1.91/1;
  width: 100%;
  height: auto;
}
.cardsize-L .cardlinktextbox {
  justify-content: center;
  padding: 0.6em 0.8em;
}
.cardsize-L .cardlinktextbox .cardlinkurl {
  margin-top: 0.8em;
  padding-top: 0.8em;
  border-top: 1px solid var(--main-color-2);
}

/* ----- 汎用装飾：文字 ----- */
/* B:太字(Bold) */
.decorationB {
  font-weight: bold;
}

/* D:削除(Delete) */
.decorationD {
  color: var(--main-color-4);
  text-decoration-line: line-through;
  text-decoration-color: var(--main-color-6);
}

/* E:強調(Emphasis) */
.decorationE {
  font-style: normal;
  font-weight: bold;
  color: var(--deco-e-text-color);
}

/* I:斜体(Italic) */
.decorationI {
  font-style: italic;
}

/* Q:引用(Quote) */
.decorationQ {
  position: relative;
  display: block;
  margin: 1em;
  padding: 0.6em;
  border: 1px solid var(--main-color-3);
  border-radius: var(--rounded-basic);
  font-size: var(--font-size-sm);
  text-indent: 2em;
}
.decorationQ::after {
  content: "";
}
.decorationQ::before {
  content: "\e244";
  position: absolute;
  top: 0.4em;
  left: -0.8em;
  color: var(--main-color-3);
  font-family: var(--font-family-icon);
  font-size: 2rem;
}
.decorationQ + br {
  display: none;
}

/* S:小文字(Small) */
.decorationS {
  font-size: var(--font-size-sm);
}

/* T:極小文字(Tiny) */
.decorationT {
  font-size: var(--font-size-xs);
}

/* U:下線(Underline) */
.decorationU {
  text-decoration-line: underline;
}

/* ----- 汎用装飾：画像 ----- */
/* S:小文字(Small)に含まれる画像に対する装飾 */
.decorationS .imagelink {
  width: 100px;
}

/* T:極小文字(Tiny)に含まれる画像に対する装飾 */
.decorationT .imagelink {
  width: 80px;
}

/* ----- 埋め込み画像 ----- */
/* 画像ボックス(FIGオプション指定時) */
.embeddedpictbox {
  margin: 0;
  padding: 0;
  display: inline-table;
  border-collapse: collapse;
  vertical-align: top;
}
.embeddedpictbox figcaption {
  width: 100%;
  background-color: var(--main-color-2);
  text-align: center;
  font-size: var(--font-size-sm);
}
.embeddedpictbox img {
  vertical-align: middle;
}

/* 画像リンク */
.imagelink {
  position: relative;
  display: inline-block;
  aspect-ratio: 1/1;
  width: 120px;
  vertical-align: middle;
  overflow: hidden;
}
.imagelink.nsfw::after {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  aspect-ratio: 1/1;
  width: 40px;
  font-family: var(--font-family-icon);
  font-size: 40px;
  line-height: 1;
  color: var(--main-color-1);
}
.imagelink.nsfw::after {
  content: "\e000";
}
.imagelink.nsfw img {
  filter: blur(9px);
}

/* 画像そのもの */
.embeddedimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----- 埋め込み動画 ----- */
.embeddedvideo {
  display: flex;
  flex-direction: column-reverse;
}

.videotitle {
  min-width: 300px;
  margin: 8px auto 0;
  background-color: var(--main-color-2);
  text-align: center;
  font-size: var(--font-size-sm);
}

/* YouTube埋め込み */
@media all and (max-width: 600px) {
  .embeddedmovie {
    display: inline-block;
    max-width: 100%;
    width: auto;
    height: auto;
  }
}
@media all and (max-width: 300px) {
  .videotitle {
    min-width: auto;
    width: 100%;
  }
}
/* ----- 埋め込みTweet ----- */
.twitter-tweet {
  max-width: 350px !important;
  margin-inline: auto;
}

/* ----- 検索語のハイライト ----- */
.searchword {
  font-weight: 600;
  background: linear-gradient(transparent 60%, var(--search-word-color) 60%);
}

/* ============= */
/*   ヘッダ領域   */
/* ============= */
header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-block: 0.6em;
}

/* ----- ▼タイトル区画 ----- */
.headtitle .maintitle {
  font: 500 3.6rem/1 var(--font-family-sitename);
}
.headtitle .maintitle a {
  color: var(----main-color-6);
  text-decoration: none;
}
.headtitle .subtitle {
  font-size: var(--font-size-basic);
}
.headtitle .mainguide {
  margin: 0;
  font-size: var(--font-size-sm);
}

/* ----- 管理・投稿ボタン区画 ----- */
.headcontrol {
  /* 管理・投稿用リンクボタン */
}
.headcontrol .control-links {
  display: flex;
  justify-content: end;
  gap: 0.5em;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.headcontrol .control-links li {
  list-style: none;
}
.headcontrol .control-links a {
  overflow: hidden;
  padding-block: 0.4rem;
  padding-inline: 0.8rem;
  border: 2px solid var(--main-color-2);
  border-radius: var(--rounded-basic);
  color: var(--main-color-6);
  font-weight: 600;
  font-size: var(--font-size-xs);
  text-decoration: none;
  transition: border-color var(--animation);
}
.headcontrol .control-links a:hover {
  border-color: var(--main-color-6);
}

/* ======================== */
/*   入力フォームの表示領域   */
/* ======================== */
/* ----- 本文入力欄 ----- */
.postarea .line-textarea {
  margin: 0;
  margin-block: 0;
}
.postarea .line-textarea textarea {
  width: 100%;
}
.postarea .line-control {
  line-height: 3.4em;
  /* ----- 投稿ボタン・文字装飾ボタン群 ----- */
}
.postarea .line-control .postbutton,
.postarea .line-control [type=button],
.postarea .line-control [type=file]::file-selector-button {
  display: inline-block;
}
.postarea .line-control .postbutton,
.postarea .line-control [type=button] {
  padding-block: 0.4rem;
  padding-inline: 0.4rem;
  line-height: 1;
}
.postarea .line-control .postbutton {
  padding-inline: 2rem;
  background: var(--main-color-6);
  border: 0;
  border-radius: var(--rounded-pill);
  color: var(--main-color-1);
  line-height: var(--line-height-basic);
}
.postarea .line-control [id*=postcount] {
  font-size: var(--font-size-xs);
}
.postarea .line-control [class*=Btns] [id*=Door] [type=button], .postarea .line-control [class*=Btns] > [type=button] {
  padding-inline: 1rem;
  background: var(--main-color-2);
  border: 0;
  border-radius: var(--rounded-pill);
  line-height: var(--line-height-basic);
}
.postarea .line-control [class*=Btns] [id*=Set],
.postarea .line-control [class*=Btns] [id*=imageBtns] {
  padding: 14px 6px;
  border: 1px solid var(--main-color-2);
  border-inline-start-width: 4px;
  border-radius: var(--rounded-basic);
  line-height: 1;
  vertical-align: middle;
}
.postarea .line-control [class*=Btns] [id*=Set] [type=button] + [type=button],
.postarea .line-control [class*=Btns] [id*=Set] [type=file]::file-selector-button + [type=button],
.postarea .line-control [class*=Btns] [id*=imageBtns] [type=button] + [type=button],
.postarea .line-control [class*=Btns] [id*=imageBtns] [type=file]::file-selector-button + [type=button] {
  margin-inline-start: 4px;
}
.postarea .line-control [class*=Btns] [id*=Set] [class*=Checks] + [class*=Checks], .postarea .line-control [class*=Btns] [id*=Set] [class*=Checks] + [type=button],
.postarea .line-control [class*=Btns] [id*=Set] [type=button] + [class*=Checks],
.postarea .line-control [class*=Btns] [id*=Set] [type=button] + [type=button],
.postarea .line-control [class*=Btns] [id*=imageBtns] [class*=Checks] + [class*=Checks],
.postarea .line-control [class*=Btns] [id*=imageBtns] [class*=Checks] + [type=button],
.postarea .line-control [class*=Btns] [id*=imageBtns] [type=button] + [class*=Checks],
.postarea .line-control [class*=Btns] [id*=imageBtns] [type=button] + [type=button] {
  margin-inline-start: 0.6em;
}
.postarea .line-control [class*=Btns] [id*=Set] [type=button] + [type=button],
.postarea .line-control [class*=Btns] [id*=imageBtns] [type=button] + [type=button] {
  margin-inline-start: 4px;
}
.postarea .line-control [class*=Btns] [id*=Set] [class*=Checks] label + label,
.postarea .line-control [class*=Btns] [id*=imageBtns] [class*=Checks] label + label {
  margin-inline-start: 0.6em;
}

/* =============================================== */
/*   段組構成（画面の幅が800px以上ある広い場合限定）   */
/* =============================================== */
/* ======================== */
/*   メイン（ログ掲載）領域   */
/* ======================== */
/* ----- 表示対象の限定時などの「限定条件」表示行 ----- */
.situation {
  font-size: var(--font-size-sm);
  font-weight: bold;
}
.situation:empty {
  display: none;
}

/* ================================= */
/*   投稿ボックス（一発言）ごとの表示   */
/* ================================= */
.onelogbox {
  padding-block: 0.6em;
}
.onelogbox + .onelogbox {
  border-top: 1px solid var(--main-color-2);
}

/* 限定条件表示行の直下に表示される場合 */
.situation + .onelogbox {
  border-top: 1px solid var(--main-color-2);
}

.onelogheader,
.oneloginfo {
  font-size: var(--font-size-sm);
}
.onelogheader a,
.oneloginfo a {
  color: var(--main-color-4);
  text-decoration: none;
}

.onelogheader {
  display: flex;
  justify-content: end;
  gap: 0.6em;
}

.oneloginfo {
  text-align: right;
}

/* ----- カテゴリ名 ----- */
.categories {
  margin: 0;
  font-size: var(--font-size-sm);
}

.catseparator {
  margin-right: 2px;
}

/* ----- 編集ボタン ----- */
.editlink a::before {
  content: "\e3c9";
  font-family: var(--font-family-icon);
}

/* ========================================================= */
/*   鍵付き(パスワード保護)投稿に表示される鍵入力フォームの装飾   */
/* ========================================================= */
.passkeyform {
  padding: 0.6em;
  border: 1px solid var(--main-color-2);
  border-radius: var(--rounded-basic);
}
.passkeyform .passkeyguide {
  font-size: var(--font-size-sm);
}

/* 鍵違いエラーの表示 */
.passkeyerror {
  display: block;
  margin-bottom: 0.4em;
  padding: 0.2em 0.4em;
  background: var(--error-color-1);
  border: 1px solid var(--error-color-2);
  border-radius: var(--rounded-basic);
  font-size: var(--font-size-sm);
}

/* 入力フォーム枠 */
.passkeybox {
  display: block;
}

/* 入力欄前のガイド文 */
.passkeyguide {
  margin-right: 0.1em;
}

/* 鍵入力欄 */
.passkeyinput {
  width: 10em;
  margin: 0 0.25em 3px 0;
}

/* 送信ボタン */
/* ================================================================== */
/*   一発言だけが表示される際に追加表示されるユーティリティリンク群の装飾   */
/* ================================================================== */
/* =========================== */
/*   ■ページナビゲーション領域   */
/* =========================== */
.pagenavi {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  margin: 5em 0;
  text-align: center;
  line-height: 1;
}
.pagenavi > * {
  margin: 0;
}
.pagenavi a {
  display: inline-block;
}

.pagelinks,
.pagenums {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.6em;
}

/* ----- ページ前後移動リンク ----- */
.pagelinks a {
  color: var(--main-color-3);
  text-decoration: none;
  font-size: 3.6rem;
  transition: color var(--animation);
}
.pagelinks a:hover {
  color: var(--main-color-6);
}
.pagelinks a::before, .pagelinks a::after {
  font-family: var(--font-family-icon);
}
.pagelinks a.prevlink::before {
  content: "\f46b";
}
.pagelinks a.nextlink::after {
  content: "\f46a";
}

/* ----- ページ番号リンク ----- */
.pagenums a {
  min-width: 26px;
  height: 26px;
  padding: 4px 4px;
  border: 1px solid var(--main-color-2);
  border-radius: var(--rounded-pill);
  background: var(--main-color-1);
  text-align: center;
  text-decoration: none;
  transition: border-color var(--animation);
}
.pagenums a:hover {
  border-color: var(--main-color-3);
}
.pagenums a.pagenumhere {
  background: var(--main-color-2);
}

/* ----- 限定解除リンク（＝HOMEに戻るリンク） ----- */
.pagehome a {
  min-width: 140px;
  color: var(--main-color-3);
  transition: color var(--animation);
  text-decoration: none;
}
.pagehome a:hover {
  color: var(--main-color-6);
}

/* =========== */
/*   サブ領域   */
/* =========== */
/* ----- 検索窓区画 ----- */
.searcharea input[type=text],
.searcharea select {
  border: 0;
  border-radius: var(--rounded-basic);
}

.submitbutton {
  margin-left: 0.6em;
  border: 0;
  background: var(--main-color-6);
  color: var(--main-color-1);
}

/* 検索対象を限定するチェックボックス */
.searchtarget {
  font-size: var(--font-size-sm);
  line-height: 1;
}
.searchtarget label span {
  margin-left: 0.2em;
}

/* 検索フォーム形式の切り替えリンク */
.siwtchsearchbox a {
  font-size: var(--font-size-sm);
}
.siwtchsearchbox a::before {
  content: "\e915";
  font-family: var(--font-family-icon);
}

/* 複合検索フォーム */
#complexsearch {
  display: none;
}

/* 検索オプションリスト */
.searchoptions {
  font-size: var(--font-size-sm);
}
.searchoptions select {
  max-width: 175px;
  overflow: hidden;
}

/* 項目名 */
.solabel {
  display: inline-block;
  min-width: 5em;
}

/* ============= */
/*   フッタ領域   */
/* ============= */
footer {
  padding-top: 0.6em;
  background: var(--main-color-2);
}

.cornertitle {
  font: 600 var(--font-size-sm)/1 var(--font-family-heading);
}
.cornertitle::before {
  content: "-";
  margin-inline: 4px;
}

.control-area {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.control-area .control-links {
  margin: 0;
  font-size: var(--font-size-sm);
}

.movelinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  margin: 2em 0;
}
.movelinks a {
  padding-block: 0.4rem;
  padding-inline: 0.8rem;
  border-radius: var(--rounded-pill);
  background: var(--main-color-1);
  font-size: var(--font-size-sm);
  font-weight: 600;
  text-decoration: none;
}
.movelinks a.rsslink {
  background: var(--main-color-3);
}

/* Powered-by表記のデザイン */
.poweredby {
  margin: 0;
  font-size: var(--font-size-xs);
}