/* ----- ▼タイトル区画 ----- */
.headtitle {
	.maintitle {
		font: 500 3.6rem / 1 var(--font-family-sitename);
		a {
			color: var(----main-color-6);
		}
	}

	.subtitle {
		font-size: var(--font-size-basic);
	}

	.mainguide {
		margin: 0;
		font-size: var(--font-size-sm);
	}
}
