// /* ----- フリースペース区画 ----- */
// .freespacearea {
// 	margin: 0 0 1em 0; /* 外側の余白量 */
// 	padding: 1em; /* 内側の余白量 */
// 	background-color: white; /* 背景色 */

// 	/* 見出し */
// 	.cornertitle {
// 		font-weight: bold;
// 		color: black;
// 		text-shadow: 1px 1px 1px #eee;
// 		margin: 0 0 0.5em 0;
// 		border-bottom: 1px dashed #aaa;
// 	}
// }

// /* フリースペースの中身 */
// .freecontents {
// 	font-size: 0.9em;
// 	line-height: 1.4;
// }

// /* フリースペース編集用リンク */
// .freespaceedit {
// 	font-size: 0.7em;
// 	text-align: right;
// 	border-top: 1px dotted #ccc;
// 	margin: 0.5em 0 0 0;
// }
