// /* ----- ハッシュタグリスト区画 ----- */
// .hashtaglistarea {
// 	margin: 0 0 1em 0;
// 	padding: 1em;
// 	background-color: white;

// 	/* 見出し */
// 	.cornertitle {
// 		font-weight: bold;
// 		color: black;
// 		text-shadow: 1px 1px 1px #eee;
// 		margin: 0 0 0.5em 0;
// 		border-bottom: 1px dashed #aaa;
// 	}
// }

// /* ハッシュタグリスト */
// .hashtaglist {
// 	margin: 0.5em;
// 	padding: 0;
// 	list-style-type: none;
// 	li {
// 		display: inline-block;
// 	}
// 	/* ハッシュタグリスト内の該当件数 */
// 	.num {
// 		font-size: 0.9em;
// 		color: gray;
// 		margin-left: 0.25em;
// 	}
// }
