/*
  Add by espace
*/
* {
	word-break: normal;
}
:focus {
	outline: none;
}

html {
	font-size: 62.5%;
}

body {
	word-wrap: break-word;
}

picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	margin-block: 0;
	margin-inline: auto;
}

a,
button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

img {
	vertical-align: middle;
	max-inline-size: 100%;
}

p,
dl,
ul,
ol,
form,
blockquote {
	margin-block: 1em;
	margin-inline: auto;
}

main {
	hanging-punctuation: allow-end;
}
