/* ----- 本文入力欄 ----- */
.postarea {
    .line-textarea {
        margin: 0;
        margin-block: 0;
        textarea {
            width: 100%;
        }
    }

    .line-control {
        line-height: 3.4em;

        /* ----- 投稿ボタン・文字装飾ボタン群 ----- */
        .postbutton,
        [type="button"],
        [type="file"]::file-selector-button {
            display: inline-block;
        }

        .postbutton,
        [type="button"] {
            padding-block: 0.4rem;
            padding-inline: 0.4rem;
            line-height: 1;
        }
        .postbutton {
            padding-inline: 2rem;

            background: var(--main-color-6);
            border: 0;
            border-radius: var(--rounded-pill);

            color: var(--main-color-1);
            line-height: var(--line-height-basic);
        }

        [id*="postcount"] {
            font-size: var(--font-size-xs);
        }

        [class*="Btns"] {
            [id*="Door"] [type="button"],
            & > [type="button"] {
                padding-inline: 1rem;

                background: var(--main-color-2);
                border: 0;
                border-radius: var(--rounded-pill);

                line-height: var(--line-height-basic);
            }

            [id*="Set"],
            [id*="imageBtns"] {
                padding: 14px 6px;

                border: 1px solid var(--main-color-2);
                border-inline-start-width: 4px;
                border-radius: var(--rounded-basic);

                line-height: 1;
                vertical-align: middle;

                [type="button"],
                [type="file"]::file-selector-button {
                    & + [type="button"] {
                        margin-inline-start: 4px;
                    }
                }

                [class*="Checks"],
                [type="button"] {
                    & + [class*="Checks"],
                    & + [type="button"] {
                        margin-inline-start: 0.6em;
                    }
                }

                [type="button"] {
                    & + [type="button"] {
                        margin-inline-start: 4px;
                    }
                }

                [class*="Checks"] {
                    label + label {
                        margin-inline-start: 0.6em;
                    }
                }
            }
        }
    }
}
