// /* ----- 投稿ボタン ----- */
// .postbutton {
// 	background: #08f; /*#35abf2;*/
// 	color: white;
// 	font-size: 1rem;
// 	border-radius: 1em;
// 	padding: 0.25em 0.75em;
// 	font-weight: bold;
// 	border: 1px solid #35abf2;
// 	text-decoration: none;
// 	display: inline-block;

// 	&:hover {
// 		background-color: skyblue;
// 	}
// }
