@use './_2_postform/0_postform' as *;
@use './_2_postform/1_post_body' as *;
@use './_2_postform/2_post_button' as *;
@use './_2_postform/3_post_deco' as *;
@use './_2_postform/4_post_category' as *;
