// .mainarea {
// 	padding: 0;
// 	background-color: white;
// }

/* ----- 表示対象の限定時などの「限定条件」表示行 ----- */
.situation {
	font-size: var(--font-size-sm);
	font-weight: bold;

	&:empty {
		display: none;
	}
}

// /* ----- 日付セパレータ行 ----- */
// .dateseparator {
// 	background-color: #e6ecf0;
// 	color: black;
// 	text-shadow: 1px 1px 1px white;
// 	font-weight: bold;
// 	padding: 1px 1em;
// 	border-color: #ccd6dd;
// 	border-width: 1px 0px;
// 	border-style: solid;

// 	/* 日付セパレータ行内のリンク */
// 	a {
// 		background-color: #f5f8fa;
// 		font-size: 80%;
// 		font-weight: normal;
// 		display: inline-block;
// 		border-radius: 1em;
// 		margin: 0px 0.25em;
// 		padding: 0px 0.5em;
// 	}
// }
