// .passkeyform {
// 	display: inline-block;
// 	margin: 0;
// 	padding: 0.6em;
// 	background-color: #e8f4ff;
// 	border: 1px solid #bfe2ff;
// 	border-radius: 0.25em;
// }

// /* 鍵違いエラーの表示 */
// .passkeyerror {
// 	display: block;
// 	color: white;
// 	background-color: #08f;
// 	font-weight: bold;
// 	line-height: 1;
// 	margin: 0 0 0.5em 0;
// 	padding: 0.33em 0.25em;
// }

// /* 入力フォーム枠 */
// .passkeybox {
// 	display: block;
// }

// /* 入力欄前のガイド文 */
// .passkeyguide {
// 	margin-right: 0.1em;
// }

// /* 鍵入力欄 */
// .passkeyinput {
// 	width: 10em;
// 	margin: 0 0.25em 3px 0;
// }

// /* 送信ボタン */
// .passkeysubmit {
// }
