.passkeyform {
    padding: 0.6em;
    border: 1px solid var(--main-color-2);
    border-radius: var(--rounded-basic);

    .passkeyguide {
        font-size: var(--font-size-sm);
    }
}

/* 鍵違いエラーの表示 */
.passkeyerror {
    display: block;
    margin-bottom: 0.4em;
    padding: 0.2em 0.4em;
    background: var(--error-color-1);
    border: 1px solid var(--error-color-2);
    border-radius: var(--rounded-basic);
    font-size: var(--font-size-sm);
}

/* 入力フォーム枠 */
.passkeybox {
    display: block;
}

/* 入力欄前のガイド文 */
.passkeyguide {
    margin-right: 0.1em;
}

/* 鍵入力欄 */
.passkeyinput {
    width: 10em;
    margin: 0 0.25em 3px 0;
}

/* 送信ボタン */
.passkeysubmit {
}
