// // 各投稿の個別ページでのみ表示される囲みナビ用の装飾です。
// // 表示項目の取捨選択や詳細な装飾方法は
// // https://www.nishishi.com/cgi/tegalog/custom/#customizecss-utilitylinkbox
// // をご覧下さい。
// .utilitylinks {
// 	margin: 2em 1em 1em 1em;
// 	padding: 0.5em;
// 	border: 1px solid #b2defc;
// 	border-radius: 1em;
// 	background-color: #eff8fe;
// 	font-size: 0.9em;

// 	ul {
// 		color: darkblue;
// 	}
// }
