body {
	font: 500 var(--font-size-basic) / var(--line-height-basic) var(--font-family-basic);

	& > * {
		padding: 0 0.6em;
	}

	&::-webkit-scrollbar {
		inline-size: 1rem;
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--bg-color);
		border: 1px solid var(--main-color-2);
		border-radius: var(--rounded-pill);
	}
}

/* ----- リンクの装飾 ----- */
a {
	color: var(--main-color-6);
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

/* ----- URLが書かれた場合の装飾 ----- */
.url {
	word-break: break-all; /* 自動リンクのはみ出しを防ぐ */
}

/* ----- カード型リンクの装飾 ----- */
.cardlink {
}
