/* ----- リンクカードの装飾 ----- */

.cardlink {
    display: block;
    width: 100%;
    max-width: 500px;
    margin-inline: auto;

    text-decoration: none;

    .cardlinkbox {
        display: flex;

        border: 1px solid var(--main-color-3);
        border-radius: var(--rounded-lg);
        background: var(--main-color-1);

        .cardlinkimage {
            background-image: linear-gradient(-30deg, #8aa, #e0f0f0);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .cardlinktextbox {
            display: flex;
            flex-direction: column;

            .cardlinktitle {
                font-weight: 600;
            }
            .cardlinkdescription {
                font-size: var(--font-size-sm);
            }

            .cardlinkurl {
                color: var(--main-color-4);
                font-size: var(--font-size-xs);
            }
        }
    }
}

// /* カード外枠 */
// .cardlinkbox {
//     &:hover {
//     }
// }

// /* リンクカード内の画像枠 */
// // ※読み込まれたog:imageは、この枠に《背景画像として》描画されます
// .cardlinkimage {
//     // プレースホルダ的な背景グラデーション
//     // (※og:imageの画像指定が読み込まれたら、この値は上書きされます)
//     background-image: linear-gradient(-30deg, #8aa, #e0f0f0);
//     background-size: cover; // 背景画像で枠を埋める
//     background-position: center center; // 背景画像を中央に寄せる
//     background-repeat: no-repeat; // 背景画像を繰り返さない
// }

// /* リンクカード内のテキスト枠 */
// .cardlinktitle,
// .cardlinkdescription,
// .cardlinkurl {
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     line-clamp: 1;
//     -webkit-line-clamp: 1;
//     text-overflow: ellipsis;
// }

// /* リンクタイトル */
// .cardlinktitle {
// }

// /* リンク概要文 */
// .cardlinkdescription {
// }

// /* リンクドメイン */
// .cardlinkurl {
// }

// /* ----- リンクカードの装飾（サイズS用） ----- */
.cardsize-S {
    //     flex-direction: row; // 画像とテキストは横に並べる(Flexbox)

    .cardlinkimage {
        min-width: 100px;
        min-height: 100px;
        flex-shrink: 0;
    }

    .cardlinktextbox {
        justify-content: center;
        padding: 0.4em 0.6em;

        .cardlinktitle {
            font-size: var(--font-size-sm);
        }
        //     .cardlinkdescription {
        //     }

        .cardlinkurl {
            margin-top: auto;
            margin-bottom: 0;

            //         border-top: 1px solid var(--main-color-4);
        }
    }

    //     /* リンクカード内のテキスト枠 */
    //     .cardlinktextbox {
    //         justify-content: center;
    //     }

    //     // リンクカードのテキスト枠内の3要素
    //     /* リンクタイトル */
    //     .cardlinktitle {
    //         order: 2;
    //     }
    //     /* リンク概要文 */
    //     .cardlinkdescription {
    //         order: 3;
    //     }
    //     /* リンクドメイン */
    //     .cardlinkurl {
    //         order: 1;
    //     }
}

// /* ----- リンクカードの装飾（サイズL用） ----- */
.cardsize-L {
    flex-direction: column;

    .cardlinkimage {
        aspect-ratio: 1.91 / 1;
        width: 100%;
        height: auto;
    }
    .cardlinktextbox {
        justify-content: center;
        padding: 0.6em 0.8em;

        .cardlinktitle {
        }
        .cardlinkdescription {
        }

        .cardlinkurl {
            margin-top: 0.8em;
            padding-top: 0.8em;
            border-top: 1px solid var(--main-color-2);
        }
    }
    //     /* リンクカード内のテキスト枠 */
    //     .cardlinktextbox {
    //     }
    //     // リンクカードのテキスト枠内の3要素
    //     /* リンクタイトル */
    //     .cardlinktitle {
    //     }
    //     /* リンク概要文 */
    //     .cardlinkdescription {
    //     }
    //     /* リンクドメイン */
    //     .cardlinkurl {
    //     }
}
