/* ----- 汎用装飾：文字 ----- */
/* B:太字(Bold) */
.decorationB {
    font-weight: bold;
}

/* D:削除(Delete) */
.decorationD {
    color: var(--main-color-4);
    text-decoration-line: line-through;
    text-decoration-color: var(--main-color-6);
}

/* E:強調(Emphasis) */
.decorationE {
    font-style: normal;
    font-weight: bold;
    color: var(--deco-e-text-color);
}

/* I:斜体(Italic) */
.decorationI {
    font-style: italic;
}

/* Q:引用(Quote) */
.decorationQ {
    position: relative;
    display: block;
    margin: 1em;
    padding: 0.6em;

    border: 1px solid var(--main-color-3);
    border-radius: var(--rounded-basic);

    font-size: var(--font-size-sm);
    text-indent: 2em;

    &::after {
        content: "";
    }

    &::before {
        content: "\e244";
        position: absolute;
        top: 0.4em;
        left: -0.8em;

        color: var(--main-color-3);
        font-family: var(--font-family-icon);
        font-size: 2rem;
    }

    & + br {
        display: none;
    }
}

/* S:小文字(Small) */
.decorationS {
    font-size: var(--font-size-sm);
}

/* T:極小文字(Tiny) */
.decorationT {
    font-size: var(--font-size-xs);
}

/* U:下線(Underline) */
.decorationU {
    text-decoration-line: underline;
}
