// /* ----- 自由装飾用の装飾 ----- */
// // 自由装飾は [F:myclass:対象文字] の記法で
// // <span class="deco-myclass">対象文字</span>
// // のようにマークアップされる機能です。
// // あらかじめclassを用意しておくことで自由な装飾を個数制限なく使い分けられます。
// // 投稿者の自由な記述によって意図せずページが崩れてしまうのを防ぐために、
// // 適用されるclass名の先頭には必ず deco- が付加されます。
