/* ----- 埋め込み画像 ----- */
/* 画像ボックス(FIGオプション指定時) */
.embeddedpictbox {
    margin: 0;
    padding: 0;
    display: inline-table;
    border-collapse: collapse;
    vertical-align: top;

    figcaption {
        width: 100%;

        background-color: var(--main-color-2);

        text-align: center;
        font-size: var(--font-size-sm);
    }

    img {
        vertical-align: middle;
    }
}

/* 画像リンク */
.imagelink {
    position: relative;

    display: inline-block;
    aspect-ratio: 1/1;
    width: 120px;

    vertical-align: middle;

    overflow: hidden;

    &.nsfw {
        &::after {
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            aspect-ratio: 1/1;
            width: 40px;

            font-family: var(--font-family-icon);
            font-size: 40px;
            line-height: 1;
            color: var(--main-color-1);
        }
    }

    &.nsfw {
        &::after {
            content: "\e000";
        }

        img {
            filter: blur(9px);
        }
    }
}

/* 画像そのもの */
.embeddedimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ----- 埋め込み動画 ----- */
.embeddedvideo {
    display: flex;
    flex-direction: column-reverse;
}
.videotitle {
    min-width: 300px;
    margin: 8px auto 0;

    background-color: var(--main-color-2);

    text-align: center;
    font-size: var(--font-size-sm);
}

/* YouTube埋め込み */
@media all and (max-width: 600px) {
    .embeddedmovie {
        display: inline-block;
        max-width: 100%;
        width: auto;
        height: auto;
    }
}
@media all and (max-width: 300px) {
    .videotitle {
        min-width: auto;
        width: 100%;
    }
}

/* ----- 埋め込みTweet ----- */
.twitter-tweet {
    max-width: 350px !important;
    margin-inline: auto;
}

/* ----- 検索語のハイライト ----- */
.searchword {
    font-weight: 600;
    background: linear-gradient(transparent 60%, var(--search-word-color) 60%);
}
