// /* ----- 埋め込み画像 ----- */
// /* 画像ボックス(FIGオプション指定時) */
// .embeddedpictbox {
// 	margin: 0;
// 	padding: 0;
// 	display: inline-table;
// 	border-collapse: collapse; // displayをinline-tableにする場合に必要
// 	border: 1px solid #e8f4ff;
// 	vertical-align: top; // 行内では上に寄せる

// 	/* キャプション */
// 	figcaption {
// 		display: table-caption; // キャプションが画像幅から外に出ないようにする
// 		caption-side: bottom; // キャプションの位置(上にしたければtop)
// 		font-size: var(--font-size-xs);
// 		text-align: center;
// 		background-color: #e8f4ff;
// 	}

// 	/* 画像ボックスに含まれる画像 */
// 	img {
// 		vertical-align: middle;
// 	}
// }

/* 画像リンク */
.imagelink {
	display: inline-block;
	line-height: 1;
	vertical-align: inherit;
}

// /* 画像そのもの */
.embeddedimage {
	max-width: 100%;
	max-height: 240px;
	width: auto; // 画像サイズを固定したい場合はここに具体的なpx値を指定するのがお勧め
	height: auto; // 高さを固定したい場合を除いて、ここは auto のままにするのがお勧め
}

/* フラグ付き画像 */
figure,
.imagelink {
	&.nsfw {
		overflow: hidden;
	}
}
img {
	&.nsfw {
		filter: blur(9px);
	}
}

// /* ----- 埋め込み動画 ----- */
// /* [VIDEO:キャプション]URL記法で、キャプション付きで掲載される場合の外側要素 */
// figure.embeddedvideo {
// 	margin: 0;
// 	padding: 0;
// 	display: flex;
// 	flex-direction: column-reverse;
// }
// /* [VIDEO:キャプション]URL記法で、キャプション付きで掲載される場合のキャプション部分 */
// .videotitle {
// 	text-align: center;
// 	background-color: #d2ecfd;
// }

// /* [VIDEO]URL記法（または [VIDEO:キャプション]URL記法）で掲載されるvideo要素部分 */
// video.embeddedvideo {
// 	display: inline-block;
// 	max-width: 100%;
// 	width: auto;
// 	height: auto;
// }

// /* YouTube埋め込み */
// @media all and (max-width: 600px) {
// 	.embeddedmovie {
// 		display: inline-block;
// 		max-width: 100%;
// 		width: auto;
// 		height: auto;
// 	}
// }

// /* ----- 埋め込みTweet ----- */
// blockquote.twitter-tweet {
// 	background-color: #f8f8f8;
// 	border: 1px dashed #ddd;
// 	border-radius: 9px;
// 	margin: 0.3em 0;
// 	padding: 1em;
// 	font-size: 0.95em;
// 	color: #999;
// 	text-shadow: 1px 1px 1px #fff;
// }

// /* 埋め込みツイートの横幅を強制的に制限 */
// div.twitter-tweet {
// 	max-width: 350px !important;
// }

// /* ----- 検索語のハイライト ----- */
// .searchword {
// 	font-weight: bold;
// 	background: linear-gradient(transparent 60%, #8df 60%);
// }
